/.bundle/
/.vagrant/
/.yardoc
#/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
*.gem

# Files added as part of Vagrant setup
/GitConfig

/.DS_Store
/vendor

/.c9/
/.idea/
